<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547078968936-9cfl9gl0df1g9kjs7o35115jr7edfmbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547078968936-9cfl9gl0df1g9kjs7o35115jr7edfmbv</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Zl3oMg91R6-PQ8E33y6VXH-zEsfD-0w</string>
	<key>GCM_SENDER_ID</key>
	<string>547078968936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Eater</string>
	<key>PROJECT_ID</key>
	<string>enter-75ec6</string>
	<key>STORAGE_BUCKET</key>
	<string>enter-75ec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:547078968936:ios:2e0636ed79b6f234370ddd</string>
	<key>DATABASE_URL</key>
	<string>https://enter-75ec6.firebaseio.com</string>
</dict>
</plist>
